name: Auto Update Icons

on:
  push:
  pull_request:

permissions:
  contents: write
  pull-requests: write 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-
    
    - name: Yarn Upgrader
      uses: browniebroke/yarn-upgrade-action@v1.1
      
    - name: Install dependencies
      run: composer update --no-interaction --no-progress --dev
      
    - name: Compile icons to resources directory
      run: ./vendor/bin/blade-icons-generate


    - name: Comment current pull request
      uses: alawiii521/current-pr-comment@v1.0
      with:
        comment: "Hello world!"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


